<!--
    Top-Navigation-Bar - Component: Categories-Menu.
-->
<link rel="stylesheet" type="text/css" href="./categories-menu.css" />
<script type="application/javascript" src="./categories-menu.js"></script>
<div class="categories-menu">
  <div class="single-category">
    <div class="individual-category-collection">
      <div class="collection-information">
        <img src="#" alt="Collection Photo" />
        <p>My 1st Collection.</p>
      </div>
      <div class="category-items">
        <div class="single-item">
          <a class="active-page-link" target="_blank">1st Item.</a>
        </div>
        <div class="single-item">
          <a class="active-page-link" target="_blank">2nd Item.</a>
        </div>
        <div class="single-item">
          <a class="active-page-link" target="_blank">3rd Item.</a>
        </div>
      </div>
    </div>
  </div>
  <div class="single-category">
    <div class="individual-category-collection">
      <div class="collection-information">
        <img src="#" alt="Collection Photo" />
        <p>My 1st Collection.</p>
      </div>
      <div class="category-items">
        <div class="single-item">
          <a class="active-page-link" target="_blank">1st Item.</a>
        </div>
        <div class="single-item">
          <a class="active-page-link" target="_blank">2nd Item.</a>
        </div>
        <div class="single-item">
          <a class="active-page-link" target="_blank">3rd Item.</a>
        </div>
      </div>
    </div>
  </div>
</div>
